#app-vue {
    display: flex;
    justify-content: center;
  }
  .heading{
    text-align: center;
    /* width: 600px; */
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #C5E0FF;
  }
  .henry_tasks {
    width: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #C5E0FF;
  }
  .henry_tasks_float {
    float: center;
    padding: 10px;
  }
  li
  {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body 
  {
    counter-reset: section;
  }
  .lst 
  {
	  display: flex;
  }
  .lst:before 
  {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    margin-left: -20px;
  }