#app-vue {
    display: flex;
    justify-content: center;
  }
  
  .henry_tasks {
    width: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #FFEEE4;
  }
  li
  {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* .lst:before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    margin-left: -20px;
} */