<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- <script>window.onload = firstLoad() </script> -->

        <meta charset="utf-8">
        <title>
            Henry Tasks
        </title>
        <script src="node_modules/axios/dist/axios.js"></script>
        <script src="js/vue.js"></script>
        <!-- <script src="js/axios.js"></script> -->
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <div class="footer">
        <a href="http://beian.miit.gov.cn/">蜀ICP备2020033343号</a>
    </div>
    <body>
        <hr>
        <div class="heading">
            <a style="font-size: large; font-family:courier,arial,helvetica; color: #000;">
                <b> Henry Task Manager (v1.2) </b>
            </a>
        </div>    
            <hr>
        <div id="app-vue">           
            <div class="henry_tasks">
                <!-- <button class="btn btn-danger" @click="firstLoad">Load Todays Tasks</button> -->
                <input type="text" id="v-model-task" v-model="currentTask" v-on:keyup.enter="addTask('', true)">
            </div>   
        <div class="henry_display">
            <div class="in_display">                              
                <a>Tasks:</a>
                <ul style="counter-reset: section;">
                    <li class="lst" v-for="(task, index) in tasks">
                        {{task}}
                        <hr>
                        <button class="btn btn-primary" @click="taskCompleted(index)">
                            Complete
                        </button>
                        <button class="btn btn-danger" @click="removeTask(index)">
                            Remove
                        </button>
                    </li>
                </ul>

                <a>Completed Tasks:</a>
                <br>
                <ul style="counter-reset: section;">
                    <li class="lst" v-for="(task, index) in compTasks">
                        {{task}}
                        <hr>
                        <button class="btn btn-danger" @click="returnTask(index)">
                            Revert
                        </button>
                    </li>
                </ul>
                <button @click="copyTasks">Copy English</button>

            </div>

            <div class="in_display">
                <a>任务:</a>
                <br>
                <ul style="counter-reset: section;">
                    <li class="lst" v-for="(task, index) in transTaskList">
                        {{task}}
                        <hr>
                        <button class="btn btn-primary" @click="taskCompleted(index)">
                            完整的
                        </button>
                        <button class="btn btn-danger" @click="removeTask(index)">
                            删除
                        </button>
                    </li>
                </ul>

                <a>已完成的任务:</a>
                <br>
                <ul style="counter-reset: section;">
                    <li class="lst" v-for="(task, index) in transTasks">
                        {{task}}
                        <hr>
                        <button class="btn btn-danger" @click="returnTask(index)">
                            还原
                        </button>
                    </li>
                </ul>
                <button @click="copyTransTasks">复制中文</button>
            </div>
        </div>
        <div class="henry_tasks">
            <button class="btn btn-danger" @click="saveTasks">Save Tasks</button>
        </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>
